<template>
    <div>
        <div v-if="session" class="alert alert-success" role="alert">
            {{ message }}
        </div>
        <div v-show="modal" id="myModal" class="modal">
            <div class="modal-content">
                <h3>Безвозвратное удаление, пожалуйста подтвердите дествие!</h3>
                <div class="modal-footer">
                    <button @click="modal = false" class="btn btn-success">Отменить</button>
                    <button @click="destroyRoom(roomId, roomIndex)" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Название комнаты</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for="(room, index) in rooms" :key="room.id">
                    <th scope="row">{{index+1}}</th>
                    <td>{{room.title}}</td>
                    <td><a :href="`/room/${room.id}/edit`" class="btn btn-success">Изменить</a></td>
                    <td><!---->
                    <button class="btn btn-danger" @click="showModal(room.id,index)">Удалить</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</template>



<script>
export default {
    data(){
        return {
            rooms: [],
            message: '',
            session: false,
            modal: false,
            roomId: null,
            roomIndex: null,
        }
    },
    created() {
        this.getRooms();
    },
    methods:{
        getRooms(){
            window.axios.get('/api/room').then(({data})=>{
                data.forEach(room => {
                    this.rooms.push(room)
                });
            });
        },
        destroyRoom(id, index){
            window.axios.delete(`/api/room/${id}`).then(destroy=>{
                this.rooms.splice(index, 1);
                this.message = destroy.data;
                this.session = true;
                this.modal = false;
            });
        },
        showModal(id,index){
            this.modal = true;
            this.roomId = id;
            this.roomIndex = index;
        },
    },
}
</script>



<style scoped>
/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top:0;
  right: 0;
}
</style>