<template>
    <div>
        <div v-show="modal" id="myModal" class="modal">
            <div class="modal-content">
                <div v-if="session" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                <h4>Забронировать от!</h4>
                <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="formData.start"></datetime>
                <h4>Забронировать до!</h4>
                <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="formData.finish"></datetime>
                <div class="mt-4">
                    <input class="input form-control" type="text" v-model="partner">
                    <button @click="addPartner()" class="btn bg-success">Добавить участника</button>
                    <div class="mt-2" v-for="(p, index) in partners" :key="index">{{index+1}}. {{p}} <button class="btn bg-danger" @click="removePartner(index)">X</button></div>
                </div>
                <div class="modal-footer mt-5">
                    <button @click="close()" class="btn btn-primary">Закрыть</button>
                    <button @click="save()" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 div">
                <div class="row">
                    <div v-for="(room, index) in rooms" :key="index" class="col-12 room">
                        <div class="hover mb-5 pt-3">
                            <p class="mt-4 mb-5">{{room.title}}</p>
                            <div class="mt-4">
                                <button @click="showModal(room.id, room.title)" class="btn bg-primary">Забронировать</button>
                                <button @click="timeTable(room.id, room.title)" class="btn bg-secondary">Расписание</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!modal" class="col-md-8 div ml-5">
                {{room_title}}
                <FullCalendar
                    ref="fullCalendar"
                    defaultView="dayGridMonth"
                    :header="{
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    }"
                    :plugins="calendarPlugins"
                    :weekends="calendarWeekends"
                    :events="calendarEvents"
                    @dateClick="handleDateClick"
                    locale='ru'
                />
            </div>
        </div>
    </div>
</template>



<script>
import datetime from 'vuejs-datetimepicker';
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
export default {
    data(){
        return{
            calendarPlugins: [ // plugins must be defined in the JS
                dayGridPlugin,
                timeGridPlugin,
                interactionPlugin // needed for dateClick
            ],
            calendarWeekends: true,
            calendarEvents: [],
            rooms: [],
            room_title: '',
            partner: '',
            partners: [],
            formData: {room_id: null, room_title: '', start: null, finish: null, partners: []},
            modal: false,
            session: false,
        }
    },
    created() {
        this.getRooms();
    },
    methods:{
        getRooms(){
            window.axios.get('/api/room').then(({data})=>{
                data.forEach(room => {
                    this.rooms.push(room);
                });
            });
        },
        toggleWeekends() {
            this.calendarWeekends = !this.calendarWeekends // update a property
        },
        handleDateClick(arg) {
            if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                this.calendarEvents.push({ // add new event data
                title: 'New Event',
                start: arg.date,
                allDay: arg.allDay
                })
            }
        },
        timeTable(id, title){
            console.log(id);
            this.room_title = title;
            this.calendarEvents.splice(0, this.calendarEvents.length);
            window.axios.get(`/rooms/show_time_table/${id}`).then(({data})=>{
                data.forEach(event => {
                    this.calendarEvents.push({title:event.room_title, start: event.booking_start, end: event.booking_finish});
                });
            });
        },
        showModal(id, title){
            this.modal = true;
            this.session = false; 
            this.formData.room_id = id;
            this.formData.room_title = title;
        },
        addPartner(){
            this.partners.push(this.partner);
            this.partner = '';
        },
        removePartner(index){
            this.partners.splice(index, 1);
        },
        save(){
            this.formData.partners = this.partners;
            if (this.formData.start && this.formData.finish) {
                window.axios.post('/rooms/reservation', this.formData).then(savedRoom=>{
                    this.session = true;
                    this.message = savedRoom.data;
                });
            }
        },
        close(){
            this.modal = false;
            this.session = false;
            this.partners.splice(0, this.partners.length);
        },
    },
    components: { datetime, FullCalendar },
}
</script>



<style  lang='scss'>
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
.hover:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.2);
    background: white;
    height: 100%;
}
.div{
    margin-top: 24px;
    background: white;
    text-align: center;
    padding-top: 34px;
    display: inline-block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.div p{
    font-size: 22px;;
}
.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-top {
  margin: 0 0 3em;
}
.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top:0;
  right: 0;
}
input{
    border-radius: 5px;
}
.input{
    width:40%;
    float: left;
    margin-right: 12px;
}
.buttonWidth{
    width:70px;
}
</style>