<template>
    <div>
        <div v-if="session2" class="alert alert-success" role="alert">
            {{ success }}
        </div>
        <div v-show="secmodal" id="myModal" class="modal">
            <div class="modal-content">
                <h4>Безвозвратное завершение, пожалуйста подтвердите действие!</h4>
                <div class="modal-footer">
                    <button @click="close()" class="btn btn-primary">Отменить</button>
                    <button @click="complate()" class="btn btn-danger">Завершить</button>
                </div>
            </div>
        </div>
        <div v-show="modal" id="myModal" class="modal">
            <div class="modal-content">
                <div v-if="session" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                <h4>Продлить до!</h4>
                <datetime format="YYYY-MM-DD H:i:s" width="300px" v-model="formData.finish"></datetime>
                <div class="modal-footer mt-5">
                    <button @click="close()" class="btn btn-primary">Закрыть</button>
                    <button @click="save()" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
        <div v-if="rooms.length != 0">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">N</th>
                    <th scope="col">Название комнаты</th>
                    <th scope="col">от</th>
                    <th scope="col">до</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(room, index) in rooms" :key="room.id">
                    <th scope="row">{{index+1}}</th>
                    <td>{{room.room_title}}</td>
                    <td>{{s = new Date(room.booking_start).toLocaleString()}}</td>
                    <td>{{f = new Date(room.booking_finish).toLocaleString()}}</td>
                    <td><button @click="extension(room.id, room.room_id, room.room_title, room.booking_start)" class="btn btn-primary">Продлить</button>
                        <button @click="del(room.id, index)" class="btn btn-warning">Завершить</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        </div>
        <h3 v-else>Пока здесь пусто!</h3>
    </div>
</template>



<script>
import datetime from 'vuejs-datetimepicker'; 
export default {
    props:['id'],
    data(){
        return {
            rooms: [],
            message: '',
            success: '',
            session: false,
            session2: false,
            modal: false,
            secmodal: false,
            roomId: null,
            roomIndex: null,
            formData: {id: null, room_id: null, room_title: '', start: null, finish: null},
            
        }
    },
    created() {
        this.getRooms();
    },
    methods:{
        getRooms(){
            window.axios.get(`/rooms/show/member_rooms/${this.id}`).then(({data})=>{
                data.forEach(room => {
                    this.rooms.push(room);
                });
            });
        },
        extension(id, room_id, room_title, start){
            this.formData.id = id;
            this.formData.room_id = room_id;
            this.formData.room_title = room_title;
            this.formData.start = start;
            this.modal = true;
        },
        del(id, index){
            this.reservationId = id;
            this.roomIndex = index;
            this.secmodal = true;
        },
        save(){
            if (this.formData.finish) {
                window.axios.patch('/member/room/extension', this.formData).then(savedRoom=>{
                    this.session = true;
                    this.message = savedRoom.data;
                });
            }
        },
        close(){
            this.modal = false;
            this.secmodal = false;
            this.session = false;
        },
        complate(){
            window.axios.post(`/member/room/complate/${this.reservationId}`).then(savedRoom=>{
                this.session2 = true;
                this.success = savedRoom.data;
                this.secmodal = false;
                this.rooms.splice(this.roomIndex, 1);
            });
        },
    },
    components: { datetime},
}
</script>



<style scoped>

</style>